<div class="signup-form">
    <form id="signin-form" method="POST" action="{{ url_for('auth.code_response') }}">
        {{ form.hidden_tag() }}
        <div class="form-group">
            {% include 'include/client_app_details.html' %}
        </div>
        <div class="form-group buttons-row">
            {% include 'include/client_request_scope.html' %}
        </div>
        <div class="form-group buttons-row">
            {% include 'include/resource_owner_warning.html' %}
        </div>
        <div class="form-group buttons-row">
            {% include 'include/grand_type_allow_cancel_buttons.html' %}
        </div>

    </form>
</div>