{% extends 'layout.html' %}
{% block header %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('frontend.static', filename='css/register.css') }}">
    <script type="text/javascript" src="{{ url_for('frontend.static', filename='js/validators.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('frontend.static', filename='js/register.js') }}"></script>
{% endblock header %}
{% block content %}
    <div class="signup-form" >
        <form id="signup-form" method="POST", action="">
            <h2>Sign Up</h2>
            <p>It's free and only takes a minute.</p>
            <hr>
            <div class="form-group">
                <input type="text" class="form-control" name="firstname" placeholder="First Name">
            </div>
            <div class="form-group">
                <input type="text" class="form-control" name="lastname" placeholder="Last Name">
            </div>
            <div class="form-group">
                <input type="email" class="form-control" name="email" placeholder="Email Address">
            </div>
            <div class="form-group">
                <input type="password" class="form-control" name="password" id='password' placeholder="Password">
            </div>
            <div class="form-group">
                <input type="password" class="form-control" name="confirm_password" placeholder="Confirm Password"
                >
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary btn-block btn-lg">Sign Up</button>
            </div>
            <p class="small text-center">By clicking the Sign Up button, you agree to our <br><a href="#">Terms &amp;
                Conditions</a>, and <a href="#">Privacy Policy</a>.</p>
        </form>
        <div class="text-center">Already have an account? <a href="#">Login here</a></div>
    </div>
{% endblock content %}